<nb-card>
    <nb-card-header>
        {{detalle.toUpperCase()}}
        <button nbButton status="success" size="xsmall" class="pull-right" (click)="crear()"><i
          class="fa fa-plus"></i> Agregar
        </button>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
    <router-outlet></router-outlet>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Registrar parte</nb-card-header>
        <nb-card-body>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Nombre: </label>
                            <input type="text" class="form-control" />

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <div class="row d-inline-flex">
                <div class="col-6">
                    <button id="btn-close" nbButton (click)="ref.close()" size="small" class="btn btn-outline-danger">Cerrar</button>
                </div>
                <div class="col-6">
                    <button nbButton size="small" (click)="registrar()" class="btn btn-outline-success">Registrar</button>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</ng-template>